.entry-container {
  display: flex;
  flex-direction: column;
}

.entry-header,
.entry-body-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.entry-tags-container {
  display: flex;
  flex-direction: row;
}

.bujo {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 100;
}
.bujo .important span {
  background: yellow !important;
  color: black !important;
}
.bujo .deadline span {
  background: lightgreen !important;
  color: black !important;
}
.bullet-design {
  display: inline-block;
}
.bujo li.done {
  color: #cdeb8b;
  list-style-image: url("https://cdn2.iconfinder.com/data/icons/navigation-set-arrows-part-two/32/Check-16.png");
  list-style-image: url("https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-21-16.png");
}
.bujo li.event {
  list-style-type: circle;
  list-style-image: url("https://cdn1.iconfinder.com/data/icons/random-crafticons/48/misc-_heart_-16.png");
  list-style-image: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-circle-outline-16.png");
}
.bujo li.migrated {
  color: silver;
  list-style-image: url("https://cdn2.iconfinder.com/data/icons/navigation-set-arrows-part-two/32/Arrow_Forward-16.png");
  list-style-image: url("https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-02-16.png");
  list-style-image: url("https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-06-16.png");
}
.bujo li.scheduled {
  color: silver;
  list-style-image: url("https://cdn2.iconfinder.com/data/icons/navigation-set-arrows-part-two/32/Arrow_Back-16.png");
  list-style-image: url("https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-05-16.png");
}
.bujo li.appointment {
  color: red;
  list-style-image: url("https://cdn2.iconfinder.com/data/icons/navigation-set-arrows-part-two/32/Arrow_Luxury_Right-16.png");
  list-style-image: url("https://cdn2.iconfinder.com/data/icons/mini-icon-set-map-location/91/Location_05-16.png");
}
.bujo li.in-progress {
  color: #ffdc00;
  list-style-image: url("https://cdn2.iconfinder.com/data/icons/arrows-and-universal-actions-icon-set/256/more-16.png");
}
.bujo li.cancelled {
  color: silver;
  text-decoration: line-through;
  list-style-image: url("https://cdn2.iconfinder.com/data/icons/arrows-and-universal-actions-icon-set/256/cancel-16.png");
  list-style-image: url("https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-22-16.png");
}
.bujo li.research {
  list-style-image: url("https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-16.png");
  list-style-image: url("https://cdn1.iconfinder.com/data/icons/random-crafticons/48/misc-_eye_vision-16.png");
}
.bujo li.note {
  list-style-image: url("https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-16-16.png");
}
/*
Right Click Menu
*/
.menu {
  display: block;
  background-color: white;
  padding: 10px 0px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px lightgrey;
  position: absolute;
  transform-origin: center;
  z-index: 2;
  transform: scale(0);
}
.menu.show {
  position: fixed;
  opacity: 1;
  transform: scale(1);
}
.menu > option {
  display: block;
  padding: 10px 30px;
  transition: 0.1s;
  color: black;
  width: 50px;
}
.menu > option:hover {
  background-color: #126e82;
  cursor: pointer;
  color: white;
}
.out-click {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}

.entry-back-btn {
  margin-right: 8px;
  background: #d8e3e7;
  border-radius: 12px 0px 0px 12px;
  padding: 4px;
}

.entry-forward-btn {
  margin-left: 8px;
  background: #d8e3e7;
  border-radius: 0px 12px 12px 0px;
  padding: 4px;
}

.entry-date {
  font-weight: 700;
}

tag-bujo {
  width: 100%;
}
