.tag-container {
  display: flex;
  flex-direction: column;
}
.tag {
  display: flex;
  border-style: solid;
  border-radius: 2px;
  border-width: 1px;
  color: black;
  padding-top: 0.125%;
  padding-right: 0.25%;
  padding-bottom: 0.2%;
  padding-left: 1%;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 0 0 8px 8px;
  height: 25px;
}

.show-tag-creator-btn {
  text-align: center;
  width: 25px;
  height: 25px;
}

.tag-color-picker {
  padding: 0;
  border-style: none;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.tag-editor,
.tag-creator {
  display: flex;
  align-items: center;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag-creator {
  display: flex;
}

.close-editor-btn {
  box-shadow: inset 0px 39px 0px -24px #e67a73;
  background-color: #e4685d;
  border-radius: 4px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 6px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
}

.close-editor-btn:hover {
  background-color: #eb675e;
}

.close-editor-btn:active {
  position: relative;
  top: 1px;
}

.tag-textbox,
.tag-editor-textbox {
  width: 90%;
  padding: 4px;
  border: solid 1px #78909c;
  border-radius: 12px 0px 0px 12px;
  height: 100%;
  margin-left: 10px;
  max-width: 175px;
}

.tag-textbox:focus-visible,
.tag-editor-textbox:focus-visible {
  border: 0;
}

.add-tag-btn,
.tag-editor-confirm-btn {
  width: 10%;
  border: solid 1px #78909c;
  background-color: #78909c;
  color: white;
  font-weight: 600;
  padding: 4px 20px 4px 4px;
  border-radius: 0px 12px 12px 0px;
  height: 100%;
  max-width: 20px;
}

.tag-editor-confirm-btn {
  font-size: 12px;
}

.tag-creator-tag-name,
.tag-editor-tag-name {
  margin: 0px 0px 0px 36px;
}

.tag-delete-btn {
  background: none;
  border: none;
}

.tag-delete-btn:hover {
  color: red;
}
