.DS_Store

# Node related files that not everyone needs.
node_modules

# Coverage Folder that is not needed on github
coverage

# Don't actually need JSDoc folder since it will be pushed to other repo when built.
jsdocs
