/* Setting the font-family for all elements */
* {
    font-family: 'Quicksand', sans-serif;
}
/* ---------------------------------------- */

navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #D8E3E7;
    height: 100vh;
    width: 15vw;
    max-width: 400px;
    margin: 0;
}

/* CuJo header section */
.header {
    display: flex;
    width: 100%;
    background-color: red;
    padding: 6px 0px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    /*border-bottom: #a2d6dd solid;*/
}
/* ---------------------------------------- */

.logo {
    position: relative;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    margin: 0px 0px 0px 2%;
    background: blue;
    text-align: center;
}

.header-text {
    position: relative;
    text-align: center;
    margin: 0px 0px 0px 3%;
    font-size: 24px;
    font-weight: 600;
    flex-grow: 3;
    text-align: left;
}

.focus-btn {
    position: relative;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    margin: 0px 4% 0px 0px;
    background: blue;
    text-align: center;
}

/* Styling the entire orange section for the index subheader */
.index-container {
    display: flex;
    font-size: 20px;
    width: 100%;
    background: orange;
    padding: 4px 0px;
}
/* ---------------------------------------------------------- */

.index-text {
    font-size: 20px;
    font-weight: 500;
    margin: 0px 0px 0px 3%;
}

.navbar-tab {
    display: flex;
    width: 100%;
    padding: 4px 0px;
    align-items: center;
}

.navbar-tab-arrow {
    background: green;
    min-width: 15px;
    height: 15px;
    margin: 0px 0px 0px 4%;
}

.navbar-tab-text {
    margin: 0px 0px 0px 4%;
}

/* Highlights the tab that is selected */
.yearly:active, .monthly:active, 
.daily:active, .goals:active, .navbar-tab-highlighted {
    background: #A3E0E8;
    border-radius: 10px;
}
/* ----------------------------------- */

.navbar-tab-item-container {
    display: flex;
    flex-direction: column;
}

.navbar-tab-item {
    margin: 0px 0px 0px 4%;
    text-decoration: none;
    color: black;
}

.navbar-tab-lvl2 {
    display: flex;
    margin: 0px 0px 0px 9%;
}

.goals {
    text-decoration: none;
    color: black;
}

.navbar-symbols-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0px 0px 3% 0px;
}

/* Bottom container for the symbols */
.navbar-symbols-container > a {
    display: inline-block;
    min-width: 20px;
    height: 20px;
    background: purple;
}

/* -------------------------------- */

/* Empty space inbetween Goals and the symbols container */
.navbar-empty-space {
    flex-grow: 1;
}
/* ----------------------------------------------------- */

.navbar-info {
    margin: 0px 0px 0px 8%;
}

.navbar-settings {
    margin: 0px 8% 0px 0px;
}