#card {
  font-family: Poppins;
  width: 350px;
  height: 200px;
  border-radius: 12px;
  border-color: #126e82;
  box-shadow: 0px 5px 8px #ccc;
  background-color: white;
  overflow: hidden;
  color: #333;
}

img {
  width: 15%;
}

hr {
  display: block;
  height: 1px;
  color: black;
}

#icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70%;
}

#icons > * {
  font-size: 2em;
  cursor: pointer;
  transition: all 0.1s ease-out;
  transform-origin: center;
}

img:hover {
  transform: scale(1.5);
}

#desc {
  transition: all 0.1s ease-in;
  padding: 22px 0 22px 0;
  font-size: 20px;
  text-align: center;
  color: white;
  background-color: #126e82;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

#desc.fade {
  transform: translateY(-80px);
}
