.bullet-editor-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 8px;
  
}

.bullet-creator-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bullet-text {
  width: 100px;
  border: solid 1px blue;
  word-wrap: break-word;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 8px;
}

.entry-del-btn {
  width: 30px;
  height: 30px;
  visibility: hidden;
}

.symbol-display {
  border: solid 1px grey;
  width: 16px;
  height: 16px;
  margin-left: 8px;
  background-repeat: no-repeat;
  background-position: center;
}

dropdown-menu {
  position: absolute;
  margin-top: 30px;
  visibility: hidden;
}
