.bullet-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 8px;
}

.bullet-img {
  margin: 0px 0px 0px 10px;
}

.bullet-text {
  margin: 0px 0px 0px 10px;
}
