* {
    font-family: 'Quicksand', sans-serif;
}

.goals-board-container {
    display: flex;
    width: 15vw;
    height: 45vh;
    background: #d8e3e7;
    flex-direction: column;
}

.goals-button-container {
    display: flex;
    background-color: #d8e3e7;
    height: 10%;
    justify-content: space-around;
    align-items: center;
}

.checkbox-container {
    margin: 0px 0px 0px 8%;
}

.goals-checklist {
    height: 90%;
    text-align: left;
}

.goalBtn {
    width: 35%;
    height: 20px;
    background-color: #ffffff;
    border: solid 0px;
    border-radius: 12px;
    color: #78909C;
    font-size: 16px;
    font-weight: 600;
}

.selected {
    color: white;
    background-color: #78909c;
}

.checkbox-desc {
    margin: 0px 0px 0px 2%;
}

INPUT[type=checkbox]
{
    background-color: white;
    border-radius: 2px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 17px;
    height: 17px;
    cursor: pointer;
    position: relative;
    top: 5px;
}

INPUT[type=checkbox]:checked
{
    background-color: #78909c;
    background: #78909c url("data:image/gif;base64,R0lGODlhCwAKAIABAP////3cnSH5BAEKAAEALAAAAAALAAoAAAIUjH+AC73WHIsw0UCjglraO20PNhYAOw==") 3px 3px no-repeat;
}